<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>

    <table cellspacing="20">

        <tbody>
            <tr>
                <td>
                    <img style="height: 150px" src="../images/profile.jpg" alt="my profile pic">
                </td>
    
                <td>
    
                    <h1>Habibur Rahman</h1>
                    <em><p>Founder and CEO of <strong><a href="#">UGX IT</a></strong></p></em>
                    <p>I am an Android and Web Developer. I ❤️ to write code!</p>
    
                </td>
            </tr>
        </tbody>
        
    </table>

    <hr>

    <h3>My Services</h3>
    <ul>
        <li>Website development</li>
        <li>Logo Design</li>
        <li>App development</li>
    </ul>

    <hr>

    <h3>Work Experience</h3>

    <table cellspacing="8">
       <thead>
           <tr>
               <th>Date</th>
               <th>Work</th>
           </tr>
       </thead>

       <tbody>
        <tr>
            <td>2018-2021</td>
            <td>Logo Designer at Fiverr</td>
        </tr>
       </tbody>
    </table>


    <hr>

    <h3>Skills</h3>

    <table>
        <tbody>
            <tr>
              <td>
                  <table cellspacing="10">
                        <tr>
                            <td>Android Development</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
        
                        <tr>
                            <td>Web Development</td>
                            <td>⭐⭐⭐</td>
                        </tr>
                  </table>
              </td>

              <td>
                <table cellspacing="10">
                    <tbody>
                        
                            <tr>
                                <td>Adobe Photoshop</td>
                                <td>⭐⭐⭐⭐⭐</td>
                            </tr>
            
                            <tr>
                                <td>Logo Design</td>
                                <td>⭐⭐⭐⭐⭐</td>
                            </tr>
            
                    </tbody>
                </table>
              </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <a href="hobbies.html">My Hobbies</a>
    <a href="contacts.html">Contact Me</a>

</body>
</html>